* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: blue;
}

/* scrollbar section */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  transition: all ease 0.3s;
}

::-webkit-scrollbar-track {
  background-color: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(163, 163, 163, 0.826);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(140, 140, 140, 0.826);
  width: 5px;
  transition: all ease 0.3s;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  background-color: white;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2);
}

header a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  margin-left: 30px;
}

#logo {
  font-size: 1.8rem;
}

.headerNav {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
  margin-right: 30px;
  font-size: 30px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 10px;
  transition: all 0.5s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 70px;
  right: 0;
  background-color: rgba(129, 129, 129, 0.562);
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0.9;
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
}

.sidenav a,
.sidenav p {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  margin: 20px 0;
  width: 100px;
  transition: all 0.3s ease;
}

.sidenav a:hover,
.sidenav a:active,
.sidenav p:active,
.sidenav p:hover {
  padding-top: 4px;
  padding-bottom: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.postSec {
  width: 100%;
  min-width: 280px;
  margin: 100px auto 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.postCard {
  background-color: white;
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 20px;
}

.postHeader {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.postDetail {
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
}
.postCreatorName {
  font-size: 0.8rem;
  color: rgb(120, 119, 119);
}
.postImage {
  width: 100%;
  margin-top: 7px;
}

.postProfile {
  border-radius: 50%;
  object-fit: cover;
  border: solid 1.5px rgba(14, 14, 14, 0.557);
}

.small {
  width: 55px;
  height: 55px;
}

.big {
  width: 150px;
  height: 150px;
}

.postAlbum {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 255);
  font-size: 0.9rem;
  padding: 5px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px auto;
  display: inline-block;
  border: 1px solid #4d4d4d;
  box-sizing: border-box;
  border-radius: 3px;
}

textarea {
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: grid;
  place-items: center;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.column{
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* Set a style for all buttons */
button {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0;
  cursor: pointer;
  min-width: 50px;
  width: 70%;
  max-width: 250px;
  font-weight: bold;
  border-radius: 60px;
  border: solid 1px black;
  background-color: black;
  color: white;
}

button:hover,
button:active {
  opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.container {
  padding: 40px 20px 0;
}

.container h3 {
  text-align: center;
  font-size: 24px;
}
span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.616);
  backdrop-filter: blur(4px);
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  min-width: 280px;
  max-width: 350px;
  min-height: 300px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
  transition: all 0.3s ease;
}

.formP {
  font-family: Arial, Helvetica, sans-serif;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.4s;
  animation: animatezoom 0.4s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 600px) {
  .modal-content {
    margin: 25% auto 15% auto;
  }
}

#signupForm {
  width: 250px;
  margin: 100px auto 0;
  padding: 20px;
}

.personalInfoSec {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-top: 70px;
}
.profileP {
  margin: 20px 0;
}
.postSec2 {
  width: 100%;
  min-width: 280px;
  font-family: Arial, Helvetica, sans-serif;
}

.profileAlbumSec {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 100px;
  max-width: 100vw;
  overflow-x: auto;
  margin: 10px auto;
}

.albumCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 0 10px;
}

.albumCard img {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .personalInfoSec {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    position: static;
    padding-bottom: 0;
  }
  .profileInfoSec {
    flex-direction: column;
  }
  .postNAlbumSec {
    margin: 10px 0;
  }
  .profileAlbumSec {
    padding: 0;
  }
}

.postForm {
  border: 2px solid rgba(0, 0, 0, 0.493);
  border-radius: 25px;
  min-width: 280px;
  width: 40%;
  max-width: 420px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px;
  margin: 100px auto 0;
}

.postForm h3 {
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.3rem;
}
input[type="file"] {
  margin: 10px auto;
  width: 90%;
  min-width: 190px;
  border: solid 1px rgb(84, 84, 84);
  border-radius: 20px;
}
input[type="file"]::-webkit-file-upload-button {
  border: none;
  background-color: black;
  height: 30px;
  color: white;
  padding: 5px 10px;
}

#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 2;
}

.functionBtn {
  background-color: rgb(26, 26, 26);
  height: 50px;
  width: 50px;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  outline: none;
}

.functionBtn:hover {
  background-color: rgba(
    32,
    32,
    32,
    0.783
  );
}
