.dropDown{
  background-color: rgb(230, 230, 230);
  position: absolute;
  display: none;
  width: 170px;
}

.show{
  display: block;
}
.dropDownBtn{
  background-color: black;
  border: none;
  color: white;
  padding: 10px 0;
  font-size: 14px;
  width: 170px;
}

.albumCheckBox{
  padding: 5px 10px;
}

.albumCheckBox:hover{
  background-color: rgb(190, 190, 190);
}